<html>
    <head>
        <title>ePal</title>
    </head>
    <body>
        <p><font size="3" color="#333333" face="Arial, Verdana, Helvetica">Olá, <?php echo $this->user->getName() ?></font></p>
        <p><font size="3" color="#333333" face="Arial, Verdana, Helvetica">Seja bem-vindo ao sistema SerSínidico.</font></p>
        <p><font size="3" color="#333333" face="Arial, Verdana, Helvetica">Seu cadastro foi criado com sucesso em nosso banco de dados, porém você precisa de confirmar o seu registro.</font></p>
        <p>
            <font size="3" color="#333333" face="Arial, Verdana, Helvetica">Seus dados para acesso ao sistema são:<br />
            <strong>Login:</strong> <?php echo $this->user->getEmail() ?>
            <br />
            <strong>Senha:</strong> <?php echo $this->password ?></font>
        </p>
        <p align="center"><a href="<?php echo $this->url ?><?php echo $this->url('activate', array('key' => $this->user->getActivationKey())) ?>"><font size="4" color="#333333" face="Arial, Verdana, Helvetica">Clique aqui para validar seu cadastro.</font></a></p>
        <br />
        <table border="0" cellpadding="10">
            <tbody>
                <tr>
                    <td><img src="<?php echo $this->url ?>/message/logo/<?php echo $this->imageLogo ?>.png"</td>
                    <td>
                        <p>
                            <font size="4" color="#333333" face="Arial, Verdana, Helvetica">
                            <?php echo $this->account['company'] ?>

                            <?php if ($this->block): ?>
                                <br />
                                Bloco: <?php echo $this->block ?>
                            <?php endif; ?>
                            <?php if ($this->unit): ?>
                                <br />
                                Unidade: <?php echo $this->unit ?>
                            <?php endif; ?>
                            </font>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <small>&copy; 2013-<?php echo date('Y') ?> SerSindico.com.br - Todos os direitos resrvados </small>

    </body>
</html>
