<html>
    <head>
        <title>ePal</title>
    </head>
    <body>
        <table border="0" cellpadding="10">
            <tbody>
                <tr>
                    <td><img src="<?php echo $this->url ?>/messenger/logo/<?php echo $this->imageLogo ?>.png"</td>
                </tr>
            </tbody>
        </table>

        <p><font size="3" color="#333333" face="Arial, Verdana, Helvetica">Olá, <?php echo $this->user->getFirstName() ?></font></p>
        <p><font size="3" color="#333333" face="Arial, Verdana, Helvetica">
            <?php echo $this->message ?>
            <?php echo $this->imageLogo ?>.png
            </font></p>
        <p>
            <br />
            <small>&copy; 2008-<?php echo date('Y') ?> ePal Relacionamento Digital - Todos os direitos reservados </small>
        </p>

    </body>
</html>
